.palette {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: solid #aaa 1px;
  padding: 12px 12px;
  border-radius: 12px;
}

.item {
  display: flex;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.item.active {
  font-weight: bold;
}

.color {
  display: inline-block;
  border: solid gray 1px;
  width: 1em;
  height: 1em;
}

.color:hover {
  border: solid black 1px;
}
